<% include ../partials/header %>
    <div class='row'>
        <h1 style='text-align: center'>Edit <%= campground.name %></h1>
        <div style='width: 30%; margin: 25px auto;'>
            <form action='/campgrounds/<%=campground._id%>?_method=PUT' method='POST'>
                <div class='form-group'>
                    <label for='name'>Name</label>
                    <input class='form-control' type='text' name='name' id='name' value='<%= campground.name %>'>
                </div>
                <div class='form-group'>
                    <label for='image'>Image url</label>
                    <input class='form-control' type='text' name='image' id='image' placeholder='https://images.unsplash.com/...' value='<%= campground.image %>' required>
                </div>
                <div class='form-group'>
                    <label for='cost'>Price per night</label>
                    <input class='form-control' type='number' name='cost' id='cost' value='<%= campground.cost %>' step='1.0' min='0' required>
                    <small>Price will be displayed in EUR</small>
                </div>
                <div class='form-group'>
                    <label for='location'>Location</label>
                    <input class='form-control' type='text' name='location' id='location'
                    value='<%= campground.location %>' pattern='[a-zA-Z][a-zA-Z0-9\s-,][\,\.]*' required>
                    <small>No special characters allowed</small>
                </div>
                <div class='form-group'>
                    <label for='description'>Description</label>
                    <input class='form-control' type='text' name='description' id='desc' value='<%= campground.description %>' required>
                </div>
                <div class='form-group'>
                    <button class='btn btn-lg btn-primary btn-block'>Update</button>
                </div>
            </form>
            <a href='/campgrounds'>Go Back</a>
        </div>
    </div>
    <script>
      function initAutoComplete() {
          var input = document.getElementById('location');
          var autocomplete = new google.maps.places.Autocomplete(input);
      }
      google.maps.event.addDomListener(window, 'load', initAutoComplete);
    </script>
<% include ../partials/footer %>

